GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=gemini-embedding-001
GOOGLE_LLM_MODEL=gemini-2.5-flash-lite

POSTGRES_DB=rag
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=desafio01-db
POSTGRES_PORT=5432
PG_VECTOR_COLLECTION_NAME=pdf_chunks
PDF_PATH=document.pdf
INGEST_BATCH_SIZE=5
INGEST_BATCH_DELAY_SECONDS=1
INGEST_MAX_TOKENS_PER_MINUTE=20000
